@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Kumbh+Sans:wght@700;900&family=Roboto:wght@300&display=swap');
@import url('./graficos.css');

@import url('./desktop.css');
@import url('./mobile.css') screen and (max-width: 600px);



/*
font-family: 'Abyssinica SIL', serif;
font-family: 'Kumbh Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/




/*
@media ( max-width: 600px ){
  body{
    display: none !important;
  }
}
*/