body{
  font-size: 20px;
  padding-bottom: 400px;
}

form fieldset > div:not(.row){
  display: flex;
}

form fieldset > div{
  margin-bottom: 4px;
}

form fieldset > div span{
  width: 250px;
}

form fieldset > div span + *{
  flex: 1;
  padding: 4px;
}



#datos_personales .row:empty::before{
  content: 'No hay datos personales';
}